@model IEnumerable<Estacionamiento.Models.Estacionamiento>

@{
    ViewData["Title"] = "Lista de Estacionamientos";
}

<h2>Lista de Estacionamientos</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo Estacionamiento</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Máximo de Plazas</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var estacionamiento in Model)
        {
            <tr>
                <td>@estacionamiento.Name</td>
                <td>@estacionamiento.Direcion</td>
                <td>@estacionamiento.MaxPlaza</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@estacionamiento.Id" class="btn btn-warning">Editar</a>
                    <a asp-action="Delete" asp-route-id="@estacionamiento.Id" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>