@model IEnumerable<Estacionamiento.Models.Cliente>

@{
    ViewData["Title"] = "Lista de Clientes";
}

<h2>Lista de Clientes</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Agregar Nuevo Cliente</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>User Name</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cliente in Model)
        {
            <tr>
                <td>@cliente.Dni</td>
                <td>@cliente.Nombre</td>
                <td>@cliente.Apellido</td>
                <td>@cliente.UserName</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@cliente.Dni" class="btn btn-warning">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>