@model IEnumerable<Estacionamiento.Models.Estacionamiento>
@{
    ViewBag.Title = "Inicio";
}

<h2>Estacionamientos</h2>

<!-- Formulario de búsqueda -->
<form asp-action="Index" method="get">
    <input type="text" name="searchTerm" value="@ViewBag.SearchTerm" placeholder="Buscar cliente o vehículo" />
    <button type="submit">Buscar</button>
</form>

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div>@ViewBag.Message</div>
}

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Capacidad</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var estacionamiento in Model)
        {
            <tr>
                <td>@estacionamiento.Name</td>
                <td>@estacionamiento.Direcion</td>
                <td>@estacionamiento.MaxPlaza</td>
                <td>
                    <a asp-action="GoToEstacionamiento" asp-controller="Estacionamiento" asp-route-id="@estacionamiento.Id">Detalles</a>
                </td>
            </tr>
        }
    </tbody>
</table>